html,
body {
  margin: 0;
}

body {
  background-color:  #f0ede8;
}

/* Header */
.header-part {
  background-color: #dce1e6;
  margin-bottom: 0;
  overflow: hidden;
}

.name {
  text-align: right;
  color: #bc5628;
  font: 45px "Playfair Display", serif;
  padding: 50px 30px 0;
}

.title-description {
  text-align: right;
  color: #bc5628;
  font: 17px "Montserrat", sans-serif;
  margin: 0;
  padding: 5px 30px 50px 0;
}

.img-thumbnail {
  border-radius: 80%;
  float:left;
  margin: 50px 0 0 30px;
  max-width: 70px;
  max-height: 70px;
}

nav {
    text-align: center;
    text-transform: uppercase;
}

li {
  padding: 0 30px 0;
  color: #bc5628;
  font: 16px "Josefin Sans", sans-serif;
  display: inline;
}

a {
  text-decoration: none !important;
  color:#bc5628;
}

a:hover {
  opacity: 0.2;
}

/* Main Content */
.main-picture {
  background-size: cover;
  height: 100%;
  width: 100%;
  margin: 0;
}

.section-title {
  color: #bc5628;
  font: 28px "Playfair Display", serif;
  text-align: center;
  padding: 30px;
}

.card-deck {
  margin: 0 20px 40px;
}

.card-title {
  padding: 10px 0;
  margin: 0;
  text-transform: uppercase;
  font: 20px "Josefin Sans", sans-serif;
  text-align: center;
}

.card-text {
  text-decoration: none;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  vertical-align: text-bottom;
  font: 14px "Josefin Sans", sans-serif;
}

/* Footer */
hr {
  border: none;
  height: 3px;
  background-color: #c9d1da;
}

.extra {
  color: #bc5628;
  font: 15px "Josefin Sans", sans-serif;
  text-align: center;
  padding: 0px 50px;
  display: inline-block;
}

footer {
  text-align: center;
  text-transform: uppercase;
}

.copyright {
  font: 13px "Josefin Sans", sans-serif;
  color: #bc5628;
}

/* Media Queries */
@media screen and (max-width: 575px){
  .name {
    text-align: center;
    padding: 30px 20px 0;
  }
  .title-description {
    text-align: center;
    padding: 0 0 30px;
  }
  .col-sm-4 {
    text-align: center;
  }
  .img-thumbnail {
    float: none;
    margin-right: 30px;
  }
}

@media screen and (max-width: 460px){
  .name {
    font-size: 35px;
    padding: 30px 20px 0;
  }
  .title-description {
    padding: 0 0 30px;
    font-size: 15px;
  }
  li {
    display:block;
    padding: 0 40px 7px 0;
  }
}
